<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @address.person %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @address.streetname %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
